/* 14.0 Promotions -------------------------------------------*/
#promotionsContent{
  @include breakpoint(smallScreen){
    margin-top: 150px;
  }
  @include breakpoint(largeMobileScreen){
    margin-top: 150px;
  }
  @include breakpoint(tabletScreen){
    margin-top: 50px;
  }
}
#promotionsRow2{
  margin-top: 25px;
}
.couponBox{
	box-shadow: 0px 6px 30px rgba(0,0,0,.3);
	border-radius: 10px;
	border: 3px dashed $black;
	@include breakpoint(smallScreen){
		margin: 25px 0 25px 0;
	}
	@include breakpoint(largeMobileScreen){
		margin: 25px 0 25px 0;
	}
	@include breakpoint(laptopScreen){
		margin: 0 25px 0 25px;
	}
}
.terms{
  font-size: 10px;
}
.shortHeading{
  border-radius: 10px;
  background-color: rgba(201, 43, 44,.9);
  position: absolute;
	@include breakpoint(smallScreen){
		width: 100%;
		border-radius: 0;
		background-color: $primaryColor;
		bottom: -120px;
	}
	@include breakpoint(largeMobileScreen){
		width: 100%;
		border-radius: 0;
		background-color: $primaryColor;
		bottom: -130px;
	}
	@include breakpoint(tabletScreen){
		width: 80%;
		border-radius: 10px;
		background-color: rgba(201, 43, 44,.9);
		bottom: -55px;
	}
	@media (min-width: 1250px){
		width: 60%;
	}
}
.smallLogo{
  width: 100px;
  height: auto;
}
